### Different way of creating DataFrame

### Using read_csv method

In [12]:
import pandas as pd
df=pd.read_csv("weatherbook.csv")
df

          Day  Temperature  Windspeed  Event
0  01-05-2022           32          6   Rain
1  02-05-2022           35          7  Dusty
2  03-05-2022           40          5   Rain
3  04-05-2022           28          4   Snow
4  05-05-2022           42          3  Sunny
5  06-05-2022           45          2  Sunny

### Using read excel sheet.

In [15]:
df=pd.read_excel("weatherbook.xlsx","Sheet1")
df

         Day  Temperature  Windspeed  Event
0 2022-05-01           32          6   Rain
1 2022-05-02           35          7  Dusty
2 2022-05-03           40          5   Rain
3 2022-05-04           28          4   Snow
4 2022-05-05           42          3  Sunny
5 2022-05-06           45          2  Sunny

### Using python dictionary

In [16]:
import pandas as pd
weatherdata={
            "Day":["1/5/2022","2/5/2022","3/5/2022","4/5/2022","5/5/2022","6/5/2022"],
            "Temperature":[32,35,40,28,42,45],
            "Windspeed":[6,7,5,4,3,2],
            "Event":["Rain","Dusty","Rain","Snow","Sunny","Sunny"]
}
df=pd.DataFrame(weatherdata)
df

        Day  Temperature  Windspeed  Event
0  1/5/2022           32          6   Rain
1  2/5/2022           35          7  Dusty
2  3/5/2022           40          5   Rain
3  4/5/2022           28          4   Snow
4  5/5/2022           42          3  Sunny
5  6/5/2022           45          2  Sunny

### Using Tuplelist Datframe method

In [17]:
import pandas as pd
Weather_data=[
    ('1/5/2022','32','6','Rain'),
    ('2/5/2022','35','6','Dusty'),
    ('3/5/2022','40','5','Dusty'),
]
df=pd.DataFrame(Weather_data,columns=["Day","Temperature","Windspeed","Event"])
df

        Day Temperature Windspeed  Event
0  1/5/2022          32         6   Rain
1  2/5/2022          35         6  Dusty
2  3/5/2022          40         5  Dusty

### Using List of dictionary DataFramemethod

In [18]:
weather_data=[
            {"Day":"1/5/2022", "Temperature":32, "windspeed":6, "Event":"Rain"},
            {"Day":"2/5/2022", "Temparature":34, "windspeed":7, "Event":"sunny"},
            {"Day":"3/5/2022", "Temperature":22, "windspeed":6, "Event":"Rain"},
            {"Day":"4/5/2022", "Temperature":35, "windspeed":8, "Event":"sunny"},

]
df=pd.DataFrame(weatherdata)
df

        Day  Temperature  Windspeed  Event
0  1/5/2022           32          6   Rain
1  2/5/2022           35          7  Dusty
2  3/5/2022           40          5   Rain
3  4/5/2022           28          4   Snow
4  5/5/2022           42          3  Sunny
5  6/5/2022           45          2  Sunny